<!DOCTYPE html>

<% include header.html %>

<br>
<div class="container">

  <h3 class="page-title"><%= __('Login') %></h3>

  <form method="POST">
    <div class="form-group">
      <label for="emailInput"><%= __('Email') %>:</label>
      <input type="email" class="form-control" id="emailInput" placeholder="<%= __('Enter email') %>" name="email" value="<%= email %>">
    </div>
    <div class="form-group">
      <label for="passwordInput"><%= __('Password') %>:</label>
      <input type="password" class="form-control" id="passwordInput" placeholder="<%= __('Enter password') %>" name="password">
    </div>
    <button type="submit" class="btn btn-primary"><%= __('Login') %></button>
    <div class="error"><%=error %></div>
  </form>
</div>

<br>

<% include footer.html %>
