<!DOCTYPE html>

<% include header.html %>

<br>
<div class="container">

  <h3 class="page-title">Inicio de sesión</h3>

  <form method="POST">
    <div class="form-group">
      <label for="emailInput">Correo electrónico:</label>
      <input type="email" class="form-control" id="emailInput" placeholder="Introduce correo" name="email" value="<%= email %>">
    </div>
    <div class="form-group">
      <label for="passwordInput">Contraseña:</label>
      <input type="password" class="form-control" id="passwordInput" placeholder="Introduce contraseña" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    <div class="error"><%=error %></div>
  </form>
</div>

<br>

<% include footer.html %>
